.git
.idea
temp.py
temp.txt
venv
testing.py
*__pycache__
*.db
*.zip
*.jpg
*.jpeg
*.png
.vscode
STDOUT
*.gif
SearchAlg/lib
SearchAlg/example.html
*.png
plotly/
logs/
runs/
.gitGraph/
test_dir/

tmp.py
temp.py
test.py

TestingDir/*

DashBoard/*
!DashBoard/dash_board_impl.py

tensorboard/
runs/
logs/

*.pdf
!frontend/templates/equations_view_template.html
!frontend/templates/frontend.html
*.html
!paper.html


MyocyteSystem/myocyte_gen_des.py



AdipocyteSystem/*
!AdipocyteSystem/adipocyte_de_config.py
!AdipocyteSystem/adipocyte_gen_F.py

local_contributor_config.py

legacy_code/*
!legacy_code/check.py

